* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
}
.wrapper {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .student {
    display: flex;
    flex-direction: row;
    border: solid black;
  }
  .student--name {
    flex-direction: column;
    text-align: start;
    border: solid black;
  }
  .testimonial {
    width: 327px;
    padding: 25px;
    text-align: center;
    gap: 15px;
    border: solid black;
  }
}
